.banner-content{
    color: white;
    padding-top: 7.4rem;
    font-family: sans-serif;
}
.banner-content h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-fade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
    position: absolute;
    bottom: 0;
    width: 100%;
}
.banner{
    position: relative;
    height: 70vh;
}
.button{
    background: #111;
    border: black;
    color: white;
    transition: 0.5s ease;
}
.button:hover{
    background: red;
}
.banner-content p{
    font-size: 1.1rem;
    max-height: 150px;
    overflow: scroll;
}
.banner-content p::-webkit-scrollbar{
    display: none;
}