.banner-content{
    color: white;
    padding-top: 7.4rem;
    font-family: sans-serif;
}

.banner-fade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
    position: absolute;
    bottom: 0;
    width: 100%;
}
.banner{
    position: relative;
    height: 70vh;
}